<!DOCTYPE html>
<html class="x-admin-sm">
<head>
	<meta charset="UTF-8">
	<title>管理员模块</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/login.css">
	  <link rel="stylesheet" href="../css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="../lib/layui/layui.js" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
    
    <div class="login layui-anim layui-anim-up">
        <div class="message">管理员登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名" onchange="nameReplace(this)" type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" onchange="wordReplace(this)" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;
              form.on('submit(login)', function(data){
                  $.ajax({
                      type : "POST",
                      url : "/manage/be-role-sys/form",
                      data : {
                          'username' : data.field.username,
                          'password' : data.field.password
                      },
                      success:function () {
                            layer.msg("登入成功")
                             location.href='index'
                      },
                      error :function () {
                            layer.msg("用户名或密码错误")
                      }
                  })

                return false;
              });
            });
        })
        //字符串清除特殊字符（允许中英文，数字）
        function nameReplace(obj) {
            var pattern = new RegExp(/[^\u4e00-\u9fa5a-z0-9]*$/gi);
            var value = $(obj).val();
            var valueResult = "";
            if(value != null && !('' == value)){
                for (var i = 0; i < value.length; i++) {
                    valueResult = valueResult+value.substr(i, 1).replace(pattern, '');
                }
            }
            $(obj).empty().val(valueResult);
            return ;
        }
        //字符串清除特殊字符（允许英文，数字）
        function wordReplace(obj) {
            var pattern = new RegExp(/\W/g);
            var value = $(obj).val();
            var valueResult = "";
            if(value != null && !('' == value)){
                for (var i = 0; i < value.length; i++) {
                    valueResult = valueResult+value.substr(i, 1).replace(pattern, '');
                }
            }
            $(obj).empty().val(valueResult);
            return ;
        }
    </script>

</body>
</html>